name: Update

on:
  workflow_dispatch:
    inputs:
      force_release:
        required: false
        type: boolean
        default: false
  schedule:
    - cron: '32 * * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      release-tag: ${{ steps.update.outputs.release-tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Update
        id: update
        run: ./update.sh
        env:
          GEPH_FORCE_RELEASE: ${{ inputs.force_release }}
  build:
    needs: update
    if: ${{ needs.update.outputs.release-tag != '' }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: amd64
          - os: ubuntu-24.04-arm
            arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: geph-official/geph5
          ref: ${{ needs.update.outputs.release-tag }}
      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry--${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry--

      - name: Cache cargo index
        uses: actions/cache@v4
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-git--${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-git--

      - name: Cache cargo binaries
        uses: actions/cache@v4
        with:
          path: ~/.cargo/binaries
          key: ${{ runner.os }}-cargo-bin--${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-cargo-bin--
      - name: Cache target directory
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-target-${{ matrix.arch }}--${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-target-${{ matrix.arch }}--
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Build
        run: cargo --config profile.release.strip=true build --release --features aws_lambda --manifest-path binaries/geph5-client/Cargo.toml && mv target/release/geph5-client target/release/geph5-client_${{ matrix.arch }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: geph5-client_${{ matrix.arch }}
          path: target/release/geph5-client_${{ matrix.arch }}
  upload:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          merge-multiple: true
      - name: Commit
        run:  git add geph5-client_* && git -c user.name='beavailable' -c user.email='beavailable@proton.me' commit -m 'Add files'
      - name: Upload to OBS
        uses: beavailable/obs-upload@main
        with:
          username: beavailable
          password: ${{ secrets.OBS_PASSWORD }}
          project: home:beavailable
          package: geph5-client
          type: deb
